.nav-link {
  color: #bcbcbc;
  text-decoration: none;
  padding: 15px;
  position: relative;
}

.nav-link:hover {
  color: white;
}

.nav-link::after {
  display: block;
  width: 0px;
  height: 2px;
  background-color: transparent;
  transition:
    width 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.nav-link:hover::after {
  width: 100%;
  background-color: white;
}

.nav-link.active::after {
  width: 100%;
  background-color: white;
}

.nav-link.active {
  color: white;
}
